#img{
    margin-top: 10px;
    height: 200px;
    width: 300px;
    object-fit: contain /* Hace que el contenidose ajuste dentro del contenedor manteniendo su relación de aspecto original*/
}
#Card{
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid white;
}